* {
  font-family: Helvetica, Arial, sans-serif;
}
#header {
  block-size: auto;
  background-image: url("../images/pattern.jpeg");
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes h2 {
  background-color: mediumspringgreen;
}
#frames h2 {
  background-color: lightcoral;
}
#paint h2 {
  background-color: skyblue;
}

strong {
  font-weight: bold;
  color: blue;
}
